:root {
  /**definindo variaveis para as cores - melhor reutilização de código*/
  --vermelha:#e50914;
  --preta:#141414;
  --cinza:#aaa;
  --branca:#fff;
}

/**Reset css*/

*{
  margin: 0;
  padding: 0;
  /**elementos nao saem do tamanho da caixa*/
  box-sizing: border-box;
}

/**Elementos base*/

body {
  background-color: var(--preta);
  font-family: 'Times New Roman', Times, serif;
  color: var(--branca);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--vermelha);
  font-family: 'Arial Black', Times, serif;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: var(--cinza);
  margin-right: 10px;
}

header nav a:hover {
  color: var(--branca);
}

/** filme principal*/
.filme-principal {
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa-house.jpg');
  height:400px;
  background-size:cover;
  display: flex;
  flex-direction: column;
  /*sempre segue o flex-direction para justificar */
  justify-content: center;
  align-items: flex-start;
}

.titulo {
  font-size: 40px;
}

.filme-principal .descricao {
  margin-bottom: 50px;
}